*{
margin: 0;
padding: 0;
box-sizing:border-box;
}

body {
background-color: #040509;
 font-family: 'Segoe UI';  
}

div  {
    
    width:20% ;
    min-width: 1830px;
    border-radius: 0%;
    justify-content: space-around;
    text-align:center;
    margin:0;text-align: center;
}

div a{
position: relative;
text-decoration:none;
font-size: 20px;
font-family: 'Segoe UI';
text-transform: capitalize;
color: rgb(22, 179, 85);
transition: 0.3s;
padding: 0 20px;
}

a::before {
content:'';
position: absolute;
right: 0;
height: 2px;
width: 0;
background-color: rgb(180, 13, 19);
bottom: -8px;
transition: 0.3s;
}

a:hover {
    color: rgb(173, 117, 210);
}
a:hover::before {
    width: 100%;
}

h1 {
    color:blueviolet;
    text-align: center;
}
p{
    color: rgb(11, 12, 12);
    text-align: center;
    font-size: large;
}

.st1  a{
    color:rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
   background-color: rgb(11, 242, 57);
    font-size: large;
    text-decoration:none;
}
  
